[submodule "HLab.Erp.Lims.Analysis.Avalonia/HLab.Core"]
	path = HLab.Erp.Lims.Analysis.Avalonia/HLab.Core
	url = https://github.com/mgth/HLab.Core
[submodule "HLab.Erp.Lims.Analysis.Avalonia/HLab.Avalonia"]
	path = HLab.Erp.Lims.Analysis.Avalonia/HLab.Avalonia
	url = https://github.com/mgth/HLab.Avalonia
[submodule "HLab.Erp.Lims.Analysis.Avalonia/HLab.Erp"]
	path = HLab.Erp.Lims.Analysis.Avalonia/HLab.Erp
	url = https://github.com/mgth/HLab.Erp
[submodule "HLab.Erp.Lims.Analysis.Avalonia/HLab.Wpf"]
	path = HLab.Erp.Lims.Analysis.Avalonia/HLab.Wpf
	url = https://github.com/mgth/HLab.Wpf
